{% extends 'backoffice/layout-backoffice/layout-backoffice.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bem-Vindo à PT-Clinic</title>

    {% load static %}

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/home_backoffice/home_backoffice.css' %}">
    {% endblock %}
</head>
<body>

{% block content %}
    <style>
        .whatsapp-icon {
            position: fixed;
            bottom: 10em;
            right: 5em;
            z-index: 1000;
        }

        .whatsapp-link img {
            width: 60px;
            height: auto;
        }
    </style>

    <div class="whatsapp-icon">
        <a href="https://wa.me/351934499614" target="_blank" class="whatsapp-link">
            <img class="whatsapp-icon" src="{% static 'images/whatsapp.png' %}" alt="WhatsApp">
        </a>
    </div>
    <section id="cadastro">
        <div class="cadastro-content">
            <div class="text-content">
                <h1>Transforme sua Vida com Saúde e Vitalidade</h1>
                <h4>Na PT Clinic, combinamos treinamento de ponta com um ambiente acolhedor para ajudá-lo a atingir seus
                    objetivos de saúde e fitness. Venha fazer parte da nossa comunidade!</h4>
                <div class="input-email">
                    <div class="cadastrar-input">
                        <label>
                            <input type="text" placeholder="Insira o seu email">
                        </label>
                    </div>
                    <div class="cadastrar-button">
                        <button>Cadastrar</button>
                    </div>
                </div>

                <div class="text">
                    Ao clicar em Cadastrar você confirma que concorda com nossos Termos e Condições.
                </div>
            </div>
            <!-- Algum lugar no seu template no app Cliente -->

            <div class="image">
                {% if cadastro_image %}
                    <img width="600px" height="520px" src="{{ cadastro_image.image.url }}" alt="Imagem de Cadastro">
                    {% if request.user.is_authenticated and request.user.is_staff %}
                        <a href="{% url 'backoffice:editar_cadastro_imagem' cadastro_image.pk %}">
                            Editar</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>

    <section id="services">
        <div class="services-content">
            <div class="title-content">
                <h1>Descubra o Caminho para o Bem-Estar e Performance com a PT Clinic</h1>
            </div>
            <div class="content-1">
                <!-- Card 1 -->
                <div class="card">
                    <div class="image-title">
                        {% if servicos.0.imagem %}
                            <img height="160px" src="{{ servicos.0.imagem.url }}" alt="{{ servicos.0.titulo }}">
                        {% else %}
                            <img height="160px" src="{% static 'images/wellness.png' %}" alt="Imagem padrão">
                        {% endif %}
                        <h3>{{ servicos.0.titulo }}</h3>
                        <p>{{ servicos.0.descricao }}</p>
                    </div>
                    <div class="more-info">
                        <a href="{{ servicos.0.link }}">Descubra Mais</a>
                    </div>
                </div>

                <!-- Repita o padrão para os outros cartões, garantindo que as variáveis correspondam às do backoffice -->

                <!-- Card 2 -->
                <div class="card">
                    <div class="image-title">
                        {% if servicos.0.card2_imagem %}
                            <img height="160px" src="{{ servicos.0.card2_imagem.url }}"
                                 alt="{{ servicos.0.card2_titulo }}">
                        {% else %}
                            <img height="160px" src="{% static 'images/wellness.png' %}" alt="Imagem padrão">
                        {% endif %}
                        <h3>{{ servicos.0.card2_titulo }}</h3>
                        <p>{{ servicos.0.card2_descricao }}</p>
                    </div>
                    <div class="more-info">
                        <a href="{{ servicos.0.card2_link }}">Descubra Mais</a>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="card-3">
                    <div class="image-title">
                        {% if servicos.0.card3_imagem %}
                            <img height="160px" src="{{ servicos.0.card3_imagem.url }}"
                                 alt="{{ servicos.0.card3_titulo }}">
                        {% else %}
                            <img height="160px" src="{% static 'images/wellness.png' %}" alt="Imagem padrão">
                        {% endif %}
                        <h3>{{ servicos.0.card3_titulo }}</h3>
                        <p>{{ servicos.0.card3_descricao }}</p>
                    </div>
                    <div class="more-info">
                        <a href="{{ servicos.0.card3_link }}">Descubra Mais</a>
                    </div>
                </div>

                <!-- Card 4 -->
                <div class="card-4">
                    <div class="image-title">
                        {% if servicos.0.card4_imagem %}
                            <img height="160px" src="{{ servicos.0.card4_imagem.url }}"
                                 alt="{{ servicos.0.card4_titulo }}">
                        {% else %}
                            <img height="160px" src="{% static 'images/wellness.png' %}" alt="Imagem padrão">
                        {% endif %}
                        <h3>{{ servicos.0.card4_titulo }}</h3>
                        <p>{{ servicos.0.card4_descricao }}</p>
                    </div>
                    <div class="more-info">
                        <a href="{{ servicos.0.card4_link }}">Descubra Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="contacto">
        <div class="form">
            <h1>Entre em contacto connosco</h1>
            <p>Preencha este formulário com suas informações para um breve contacto.</p>

            <div class="form-content">

                <form action="{% url 'cliente:area_cliente' %}" method="post" class="form-1">
                    <div class="input-nome">
                        <span class="name"> Nome</span>
                        <div>
                            <label>
                                <input type="text" name="nome" class="input-nome-2" required>
                            </label>
                        </div>
                    </div>

                    <div class="input-email">
                        <span class="email">Email</span>
                        <div>
                            <label>
                                <input type="email" name="email" class="input-email-2" required>
                            </label>
                        </div>
                    </div>

                    <div class="input-mensagem">
                        <span class="message">Mensagem</span>
                        <div>
                            <!-- Substituição do span e input por textarea -->
                            <label>
<textarea name="mensagem" class="input-menagem-2" required
          placeholder="Escreve a sua mensagem..."></textarea>
                            </label>
                        </div>
                    </div>

                    <div class="checkbox">
                        <div>
                            <!-- Correção para incluir o input de checkbox de forma explícita -->
                            <input type="checkbox" name="termos" id="termos" class="checkbox-1" required>
                        </div>
                        <div>
                            <label for="termos" class="label">
                                <span class="aceito-os-termos">Aceito os </span><span class="termos">Termos</span>
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="button-sub">
                        <span class="button-32">Submeter</span>
                    </button>
                </form>


                <div class="contactos-informacoes">
                    <div class="contacto-1">

                        <div class="email-contact">
                            <div class="icon-email">
                                <img src="{% static 'images/mail_FILL1_wght400_GRAD0_opsz24.png' %}" alt="">
                            </div>
                            <div class="info-email">
                                <span>Email</span>
                                <span>Envie-nos suas dúvidas, comentários ou sugestões.</span>
                                <a href="mailto:contato@ptclinic.com" class="link-email">contato@ptclinic.com</a>
                            </div>
                        </div>
                        <div class="phone-contact">
                            <div class="icon-phone">
                                <img src="{% static 'images/call_FILL1_wght400_GRAD0_opsz24.png' %}" alt="">
                            </div>
                            <div class="info-phone">
                                <span>Phone</span>
                                <span>Fale conosco para mais informações ou agendamentos.</span>
                                <a href="tel:+351210000000">+351 21 000 0000</a>
                            </div>
                        </div>

                        <div class="visitar">
                            <div class="visitar-ginasio">
                                <a href="https://www.google.com/maps/dir/?api=1&destination=rua das flores 22, 2855-1999">
                                    <span>Visite nossa recepção para um atendimento personalizado.</span>
                                </a>
                            </div>
                            <div class="icon-right">
                                <img width="30px"
                                     src="{% static 'images/chevron_right_FILL1_wght400_GRAD0_opsz24.png' %}" alt="">
                            </div>
                        </div>
                    </div>


                    <div class="contacto-2">
                        <div class="office-contact">
                            <div class="icon-office">
                                <img src="{% static 'images/location_on_FILL1_wght400_GRAD0_opsz24.png' %}" alt="">
                            </div>
                            <div class="info-office">
                                <span class="heading-42">Office</span>
                                <span class="text-43">Endereço: Rua Exemplo, 123, Bairro, Cidade</span>
                            </div>
                        </div>


                        <div class="whatsapp-contact">
                            <div class="icon-whatsapp">
                                <img src="{% static 'images/Whatsapp_icon-icons.com_66931.png' %}" alt="">
                            </div>
                            <div class="info-whatsapp">
                                <span>WhatsApp</span>
                                <a href="https://wa.me/351934499614"><span>+351 934 499 614</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

</body>
</html>