<!-- backoffice/cadastro_image_history.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Modificações</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Histórico de Modificações da Imagem de Cadastro</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Data e Hora</th>
                <th>Usuário</th>
                <th>Assinatura</th>
                <th>Comentários</th>
                <th>Imagem Anterior</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ log.updated_at }}</td>
                    <td>{{ log.user.username }}</td>
                    <td>{{ log.signature }}</td>
                    <td>{{ log.comments }}</td>
                    <td>
                        {% if log.previous_image %}
                            <img src="{{ log.previous_image.url }}" alt="Imagem Anterior" width="150">
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6H3lre4P2QmK/kHPh/2htsb6D2Ij09gZh7AB6WfycjDE1p4cJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
