{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bem-Vindo à PT-Clinic</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap"/>

    <link rel="stylesheet" href="{% static 'css/layout_padrao/layout-cliente.css' %}">

    {% block extra_css %}

    {% endblock %}
</head>

<body>
<header>
    <section id="home">
        <nav class="navbar">
            <div class="left">
                <img width="185px" height="185px" src="{% static 'images/PT x.jpg' %}" alt="">
            </div>
            <div class="right">
                <a href="#home">Home</a>
                <a href="#">Minhas Aulas</a>
                <a href="#">Agendar Aulas</a>
                <div class="link-dropdown">
                    <a href="#">Serviços</a>
                    <img src="{% static 'images/expand_more_FILL1_wght400_GRAD0_opsz24.png' %}" alt="">
                </div>
                <button class="button">
                    <span class="messages">Mensagens </span></button>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="button-2">
                        <span class="button-5">Sair</span>
                    </button>
                </form>

            </div>
        </nav>
    </section>
</header>

{% block content %}
    <!-- O conteúdo principal da página será inserido aqui pelas páginas filhas -->
{% endblock %}

<footer>
    <div class="footer">

        <img width="66px" src="{% static 'images/PT x.jpg' %}" alt="">
        <div class="content">
            <div class="links">
            <span class="home-link">Home</span
            ><span class="blog-link">Blog</span
            ><span class="contacts-link">Contactos</span
            ><span class="services">Serviços</span
            ><span class="link-five">Link Five</span>
            </div>
        </div>
        <div class="credits">
            <div class="divider"></div>
            <div class="row">
            <span class="text-copyright"
            >© 2024 Relume. All rights reserved.</span>
                <div class="footer-links">
              <span class="privacy-policy">Privacy Policy</span
              ><span class="terms-of-service">Terms of Service</span
                ><span class="cookies-settings">Cookies Settings</span>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
