<!-- templates/backoffice/admin/userCreate.html -->
{% load static %}
<!DOCTYPE html>
{% block extra_css_backoffice %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Criar Usuário</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'backoffice/css/admin/home.css' %}">
{% endblock %}

{% block content-backoffice %}
<body>
<div id="addEmployeeModal" class="modal fade show">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="createForm" method="post" action="{% url 'backoffice:user_create' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">Adicionar Funcionário</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="{% static 'backoffice/javaScript/admin/home.js' %}"></script>
</body>
{% endblock %}
