:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}



#Painel-Atividades .painel {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 64px;
}

#Painel-Atividades .painel .cartoes .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cria 3 colunas de igual largura. Ajuste o número 3 conforme necessário. */
    gap: 50px; /* Espaçamento entre cartões. */
    width: 90em;
    margin-top: 4em;
}


#Painel-Atividades h1 {
    font-size: 48px;
}

#Painel-Atividades .botao-conteudo p {
    font-size: 18px;
}

#Painel-Atividades .texto p {
    font-size: 14px;
    display: inline;

}

#Painel-Atividades .info p {
    font-size: 16px;
}


#Painel-Atividades .painel .botao-conteudo {
    display: flex;
    align-items: center; /* Centraliza verticalmente caso o texto ou botão tenham alturas diferentes */
    justify-content: space-between; /* Ajuste conforme necessário: space-between, space-around, etc., ou remova para alinhamento padrão ao início */
    gap: 10px; /* Espaçamento entre o parágrafo e o botão, ajuste conforme necessário */
}

#Painel-Atividades .painel .conteudo-com-botao p {
    margin: 0; /* Remove a margem padrão do parágrafo, se necessário */
    flex-grow: 1; /* Faz o parágrafo ocupar o máximo de espaço possível, empurrando o botão para o lado */
}


#Painel-Atividades .painel button {
    font-size: 14px;
    background-color: white;
    padding: 12px;
    cursor: pointer;
}

#Painel-Atividades .painel button:hover {
    background-color: black;
    color: white;
    cursor: pointer;

}

#Painel-Atividades .cartoes .icon-right {
    display: flex;
    gap: 8px;
    align-items: center;
    text-align: center;
}

#Painel-Atividades .cartoes .icon-right a{
    text-decoration: none;
    color: black;
}

/* Blog*/


#Blog .blog-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Blog h1 {
    font-size: 48px;
    margin: 0;
}

#Blog .cartoes-2 .content-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 4em;
    padding: 64px;

}

#Blog .botao-conteudo-2 {
    display: flex;
    justify-content: center;
}

#Blog .botao-conteudo-2 button {
    font-size: 14px;
    background-color: white;
    padding: 12px;
}

#Blog .botao-conteudo-2 button:hover {
    background-color: black;
    color: white;
}

#Blog .cartoes-2 .perfil {
    display: flex;
    gap: 0.5em;
    align-items: center;
}


/* Diferencial "Serviços e Recursos da PT Clinic" */


#diferencial .header-titulo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5em;
}

#diferencial .header-titulo h1 {
    font-size: 48px;
}

#diferencial .header-titulo .text {
    font-size: 18px;
}

#diferencial {
    display: flex;
    flex-direction: column;
    padding: 64px;
}

#diferencial .cartoes-3 .content-3 {
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 4em;
}

#diferencial .content-3 .icon-right {
    display: flex;
    gap: 8px;
    align-items: center;
    text-align: center;
}

/* Histórias de Sucesso dos Nossos Clientes da PT Clinic" */

#jornada .header-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jornada .header-titulo h1 {
    font-size: 48px;
}

#jornada .header-titulo p {
    font-size: 18px;
}

#jornada h3 {
    font-size: 20px;
    margin-top: 2em;
}


#jornada {
    display: flex;
    flex-direction: column;
    padding: 64px;
    align-items: center;
}

#jornada .cartoes-4 {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10em;
    width: 73em;
}

#jornada .cartoes-4 {
    display: flex;
    text-align: center;
}


/* Contactos da PT Clinic" */

#contacto .form {
    display: flex;
    flex-direction: column;
    padding: 64px;
}

#contacto .form h1 {
    font-size: 48px;
}

#contacto .form p {
    font-size: 18px;
}

#contacto .form .form-content {
    display: flex;
    gap: 4em;

}

#contacto .form .form-content .form-1 {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 24px;

}

#contacto .form .form-content .form-1 input {
    width: 96%;
    padding: 10px;
    border-width: 3px;
}

#contacto .form .form-content .form-1 textarea {
    width: 96%;
    height: 20vh;
    padding: 10px;
    border-width: 3px;
    margin: 0;
}

#contacto .form .form-content .form-1 .checkbox {
    display: flex;
    gap: 1em;
}

#contacto .form .form-content .form-1 .checkbox .checkbox-1 {
    transform: scale(1.7);
}

#contacto .form .form-content .form-1 .checkbox .label {
    line-height: 0.8em; /* Ajusta a altura da linha para centralizar com a checkbox */
    cursor: pointer;
}

#contacto .form .form-content .form-1 .checkbox .label:hover {
    text-decoration: underline;
}

#contacto .form .form-content .form-1 .button-sub {
    width: 20%;

}

#contacto .form .form-content .form-1 button {
    font-size: 15px;
    color: white;
    padding: 15px 15px;
    background-color: black;
}


#contacto .form .form-content .contactos-informacoes {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

#contacto .form .form-content .contactos-informacoes .email-contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes .email-contact .info-email {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes a {
    text-decoration-color: black;
    color: black;
}

#contacto .form .form-content .contactos-informacoes .phone-contact {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes .phone-contact .info-phone {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes .phone-contact {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes .phone-contact .info-phone {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes .office-contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes .office-contact .info-office {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes .whatsapp-contact {
    margin-top: 3.2em;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes .whatsapp-contact .info-whatsapp {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#contacto .visitar {
    width: 100%;
    margin-top: 50px;
    display: flex;
    font-size: 14px;
    align-items: center;
}

#contacto .visitar .visitar-ginasio a {
    text-decoration: none;
}

