{% extends 'layout-cliente.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Cliente/static/css/area-cliente.css' %}">
{% endblock %}


{% block content %}
      <div class="blog-section">
        <div class="title">
          <div class="section-title">
            <div class="content">
              <span class="heading">Painel de Atividades da PT Clinic</span
              ><span class="text"
                >Explore as últimas novidades, interaja com nossa comunidade e
                mantenha-se atualizado com tudo o que acontece na PT
                Clinic.</span
              >
            </div>
          </div>
          <button class="button">
            <span class="button-view-all">View all</span>
          </button>
        </div>
        <div class="row">
          <div class="content-1">
            <div class="card">
              <div class="placeholder-image"></div>
              <div class="content-2">
                <div class="info">
                  <div class="frame">
                    <span class="text-3">Campanhas Promocionais</span>
                  </div>
                  <span class="text-4">5 min read</span>
                </div>
                <div class="title-5">
                  <span class="heading-6">Anúncios de ofertas especiais</span
                  ><span class="text-7"
                    >Aproveite nossa oferta por tempo limitado para membros
                    novos e existentes</span
                  >
                </div>
              </div>
              <div class="button-8">
                <span class="button-learn-more">Saber mais</span>
                <div class="icon-chevron-right"><div class="vector"></div></div>
              </div>
            </div>
            <div class="card-9">
              <div class="placeholder-image-a"></div>
              <div class="content-b">
                <div class="info-c">
                  <div class="frame-d">
                    <span class="text-e">Conteúdo (Blog)</span>
                  </div>
                  <span class="text-f">5 min read</span>
                </div>
                <div class="title-10">
                  <span class="heading-11"
                    >Benefícios da Meditação na Rotina Diária</span
                  ><span class="text-12"
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros.</span
                  >
                </div>
              </div>
              <div class="button-13">
                <span class="button-learn-more-14">Saber mais</span>
                <div class="icon-chevron-right-15">
                  <div class="vector-16"></div>
                </div>
              </div>
            </div>
            <div class="card-17">
              <div class="placeholder-image-18"></div>
              <div class="content-19">
                <div class="info-1a">
                  <div class="frame-1b">
                    <span class="text-1c">Redes Sociais</span>
                  </div>
                  <span class="text-1d">5 min read</span>
                </div>
                <div class="title-1e">
                  <span class="heading-1f">Destaques do nosso evento</span
                  ><span class="text-20"
                    >Posts mais recentes e populares das redes sociais da PT
                    Clinic</span
                  >
                </div>
              </div>
              <div class="button-21">
                <span class="button-more">Ver mais</span>
                <div class="icon-chevron-right-22">
                  <div class="vector-23"></div>
                </div>
              </div>
            </div>
            <div class="card-24">
              <div class="placeholder-image-25"></div>
              <div class="content-26">
                <div class="info-27">
                  <div class="frame-28">
                    <span class="text-category">Category</span>
                  </div>
                  <span class="text-read">5 min read</span>
                </div>
                <div class="title-29">
                  <span class="heading-2a">Blog title heading will go here</span
                  ><span class="text-2b"
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros.</span
                  >
                </div>
              </div>
              <button class="button-2c">
                <span class="button-read">Read more</span>
                <div class="icon-chevron-right-2d">
                  <div class="vector-2e"></div>
                </div>
              </button>
            </div>
          </div>
          <div class="content-2f">
            <div class="slider-dots">
              <div class="dot"></div>
              <div class="dot-30"></div>
              <div class="dot-31"></div>
              <div class="dot-32"></div>
              <div class="dot-33"></div>
            </div>
            <div class="slider-buttons">
              <div class="button-34">
                <div class="icon"><div class="vector-35"></div></div>
              </div>
              <div class="button-36">
                <div class="icon-37"><div class="vector-38"></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-section-39">
        <div class="section-title-3a">
          <span class="subheading">Blog da PT Clinic</span>
          <div class="content-3b">
            <span class="heading-3c">Vida Saudável com a PT Clinic</span
            ><span class="text-3d"
              >Descubra dicas de fitness, bem-estar e nutrição no nosso blog
            </span>
          </div>
        </div>
        <div class="content-3e">
          <div class="row-3f">
            <div class="card-40">
              <div class="placeholder-image-41"></div>
              <div class="content-42">
                <span class="nutrition-health">Nutrição e Saúde</span
                ><span class="heading-text"
                  >Comer para o Sucesso: Nutrição para Melhorar o
                  Desempenho</span
                ><span class="detailed-nutrition"
                  >Uma abordagem detalhada sobre como a nutrição afeta seu
                  desempenho no ginásio e dicas sobre como planejar uma dieta
                  que suporte seus objetivos de fitness.</span
                >
              </div>
              <div class="avatar">
                <div class="placeholder-image-43"></div>
                <div class="content-44">
                  <span class="author-name">Diogo</span>
                  <div class="time">
                    <span class="read-time">11 Jan 2022</span
                    ><span class="separator">•</span
                    ><span class="read-time-45">5 min read</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-46">
              <div class="placeholder-image-47"></div>
              <div class="content-48">
                <span class="wellness-mindfulness">Bem-Estar e Mindfulness</span
                ><span class="yoga-benefits"
                  >5 Benefícios Surpreendentes da Yoga Matinal para o seu
                  Dia</span
                ><span class="morning-yoga"
                  >Explore como iniciar seu dia com uma sessão de yoga pode
                  melhorar sua saúde mental e física, aumentar sua energia e
                  melhorar a concentração.</span
                >
              </div>
              <div class="avatar-49">
                <div class="placeholder-image-4a"></div>
                <div class="content-4b">
                  <span class="author-name-4c">Ana</span>
                  <div class="time-4d">
                    <span class="separator-4e">11 Jan 2022</span
                    ><span class="read-time-4f">•</span
                    ><span class="read-time-50">5 min read</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-51">
              <div class="placeholder-image-52"></div>
              <div class="content-53">
                <span class="training-fitness">Treinamento e Fitness</span
                ><span class="personalized-training"
                  >Treino Personalizado: Como Ele Pode Transformar Seu
                  Fitness</span
                ><span class="accelerate-results"
                  >Descubra como um programa de treinamento personalizado,
                  adaptado às suas necessidades únicas, pode acelerar seus
                  resultados e manter você motivado.</span
                >
              </div>
              <div class="avatar-54">
                <div class="placeholder-image-55"></div>
                <div class="content-56">
                  <span class="author-name-57">Cátia</span>
                  <div class="time-58">
                    <span class="separator-59">11 Jan 2022</span
                    ><span class="read-time-5a">•</span
                    ><span class="read-time-5b">5 min read</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="button-5c">
            <span class="view-all">View all</span>
          </button>
        </div>
      </div>
      <div class="layout-section">
        <div class="section-title-5d">
          <div class="column">
            <span class="clinic-difference"
              >Descubra o Diferencial da <br />PT Clinic</span
            >
          </div>
          <div class="column-5e">
            <span class="text-5f"
              >Explore a variedade de serviços e recursos exclusivos que tornam
              a PT Clinic o lugar ideal para sua jornada de bem-estar e
              fitness.</span
            >
          </div>
        </div>
        <div class="row-60">
          <div class="column-61">
            <div class="placeholder-image-62"></div>
            <div class="content-63">
              <div class="content-64">
                <span class="heading-65"
                  >Avaliação e Acompanhamento de Fitness</span
                ><span class="text-duis-cursus"
                  >Avaliações regulares de fitness para monitorar seu progresso
                  e ajustar seus planos de treinamento para resultados
                  ótimos.</span
                >
              </div>
              <div class="action">
                <div class="button-66">
                  <span class="button-67">Button</span>
                  <div class="icon-chevron-right-68">
                    <div class="vector-69"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column-6a">
            <div class="placeholder-image-6b"></div>
            <div class="content-6c">
              <div class="content-6d">
                <span class="heading-6e">Variedade de Aulas de Grupo</span
                ><span class="text-duis-cursus-6f"
                  >Uma ampla gama de aulas de grupo para todos os níveis e
                  preferências, desde yoga e pilates até cardio de alta
                  intensidade.</span
                >
              </div>
              <div class="action-70">
                <div class="button-71">
                  <span class="button-72">Button</span>
                  <div class="icon-chevron-right-73">
                    <div class="vector-74"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column-75">
            <div class="placeholder-image-76"></div>
            <div class="content-77">
              <div class="content-78">
                <span class="heading-79"
                  >Programas de Recuperação e Reabilitação</span
                ><span class="text-duis-cursus-7a"
                  >Serviços especializados em recuperação e reabilitação para
                  ajudá-lo a se recuperar de lesões e voltar ao seu
                  melhor.</span
                >
              </div>
              <div class="action-7b">
                <div class="button-7c">
                  <span class="button-7d">Button</span>
                  <div class="icon-chevron-right-7e">
                    <div class="vector-7f"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact">
        <div class="section-title-80">
          <span class="subheading-81"></span>
          <div class="content-82">
            <span class="heading-83">Entre em contacto connosco</span
            ><span class="text-84"
              >Preencha este formulário com suas informações para um breve
              contacto.</span
            >
          </div>
        </div>
        <div class="content-85">
          <div class="form">
            <div class="input">
              <span class="name">Nome</span>
              <div class="text-input"></div>
            </div>
            <div class="input-field">
              <span class="email-span">Email</span>
              <div class="text-input-86"></div>
            </div>
            <div class="input-field-87">
              <span class="message-span">Mensagem</span>
              <div class="text-area">
                <span class="message-input">Escreve a sua mensagem...</span>
                <div class="line"></div>
                <div class="line-88"></div>
              </div>
            </div>
            <div class="checkbox">
              <div class="checkbox-89"></div>
              <div class="label">
                <span class="accept-terms">Aceito os </span
                ><span class="terms-span">Termos</span>
              </div>
            </div>
            <button class="submit-button">
              <span class="submit-span">Submeter</span>
            </button>
          </div>
          <div class="content-8a">
            <div class="row-8b">
              <div class="content-8c">
                <div class="icon-email"><div class="vector-8d"></div></div>
                <div class="contact-info">
                  <span class="email-heading">Email</span
                  ><span class="email-text"
                    >Envie-nos suas dúvidas, comentários ou sugestões.</span
                  ><span class="email-link">contato@ptclinic.com</span>
                </div>
              </div>
              <div class="content-8e">
                <div class="icon-phone"><div class="vector-8f"></div></div>
                <div class="contact-info-90">
                  <span class="phone-heading">Phone</span
                  ><span class="phone-text"
                    >Fale conosco para mais informações ou agendamentos.</span
                  ><span class="phone-link">+1 (555) 000-0000</span>
                </div>
              </div>
            </div>
            <div class="content-91">
              <div class="icon-pin"><div class="vector-92"></div></div>
              <div class="contact-info-93">
                <span class="office-heading">Office</span
                ><span class="office-text"
                  >Endereço: Rua Exemplo, 123, Bairro, Cidade</span
                >
                <div class="actions">
                  <div class="visit-button">
                    <span class="visit-span"
                      >Visite nossa recepção para um atendimento
                      personalizado.</span
                    >
                    <div class="icon-chevron-right-94">
                      <div class="vector-95"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

