{% extends 'layout-cliente.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/area-cliente.css' %}">
{% endblock %}


{% block content %}

    {% block painel %}

    <section id="Painel-Atividades">
        <div class="painel">
            <h1>Painel de Atividades da PT Clinic</h1>
            <div class="botao-conteudo">
                <p>Explore as últimas novidades, interaja com nossa comunidade e mantenha-se atualizado com tudo o que
                    acontece na PT Clinic.</p>
                <button>View all</button>
            </div>
            <div class="cartoes">
                <div class="content">
                    <! -- Cartão 1 -->
                    <div class="cartao-1">
                        <img width="370px" height="260px" src="{% static 'images/tired.jpg' %}" alt="">
                        <div class="texto">
                            <p>Campanhas Promocionais</p>
                            <p>5 min read</p>
                        </div>
                        <div class="info">
                            <h3>Anúncios de ofertas especiais</h3>
                            <p>Aproveite nossa oferta por tempo limitado para membros novos e existentes</p>
                        </div>
                        <div class="icon-right">
                            <div>
                                <p>Saber mais</p>
                            </div>
                            <div>
                                <img src="{% static 'images/chevron_right_FILL1_wght400_GRAD0_opsz24.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <! -- Cartão 2 -->
                    <div class="cartao-2">
                        <img width="370px" height="260px" src="{% static 'images/tired.jpg' %}" alt="">
                        <div class="texto">
                            <p>Conteúdo (Blog)</p>
                            <p>5 min read</p>
                        </div>
                        <div class="info">
                            <h3>Benefícios da Meditação na Rotina Diária</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                                eros.</p>
                        </div>
                        <div class="icon-right">
                            <div>
                                <p>Saber mais</p>
                            </div>
                            <div>
                                <img src="{% static 'images/chevron_right_FILL1_wght400_GRAD0_opsz24.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <! -- Cartão 3 -->
                    <div class="cartao-3">
                        <img width="370px" height="260px"
                             src="{% static 'images/grupo-de-pessoas-exercitando-com-halteres-no-clube-de-fitness-ou-ginasio-e1677246446691.jpg' %}"
                             alt="">
                        <div class="texto">
                            <p>Redes Sociais</p>
                            <p>5 min read</p>
                        </div>
                        <div class="info">
                            <h3>Destaques do nosso evento</h3>
                            <p>Posts mais recentes e populares das redes sociais da PT Clinic</p>
                        </div>
                        <div class="icon-right">
                            <div>
                                <a href="https://www.facebook.com/ptclinicpt/">Saber mais</a>
                            </div>
                            <div>
                                <img src="{% static 'images/chevron_right_FILL1_wght400_GRAD0_opsz24.png' %}" alt="">
                            </div>
                        </div>

                    </div>
                    <! -- Cartão 4 -->
                    <div class="cartao-4">
                        <img width="370px" height="260px" src="{% static 'images/tired.jpg' %}" alt="">
                        <div class="texto">
                            <p>Blog title heading will go here</p>
                            <p>5 min read</p>
                        </div>
                        <div class="info">
                            <h3>Blog title heading will go here</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                                eros.</p>
                        </div>
                        <div class="icon-right">
                            <div>
                                <p>Saber mais</p>
                            </div>
                            <div>
                                <img src="{% static 'images/chevron_right_FILL1_wght400_GRAD0_opsz24.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

    {% block blog %}
    <! -- Blog da PT Clinic" -->
    <section id="Blog">
        <div class="blog-title">
            <h4>Blog da PT Clinic</h4>
            <h1>Vida Saudável com a PT Clinic</h1>
            <p>Descubra dicas de fitness, bem-estar e nutrição no nosso blog </p>
        </div>


        <div class="cartoes-2">
            <div class="content-2">
                <! -- Cartão 1 -->
                <div class="cartao-1">
                    <img width="370px" height="260px" src="{% static 'images/alimentacao-balanceada.jpg' %}" alt="">
                    <div class="texto">
                        <p>Nutrição e Saúde</p>
                    </div>
                    <div class="info">
                        <h3>Comer para o Sucesso: Nutrição para Melhorar o Desempenho</h3>
                        <p>Uma abordagem detalhada sobre como a nutrição afeta seu desempenho no ginásio e dicas
                            sobre
                            como planejar uma dieta que suporte seus objetivos de fitness.</p>
                    </div>
                    <div class="perfil">
                        <div>
                            <img width="50px" src="{% static 'images/account_circle_FILL1_wght400_GRAD0_opsz48.png' %}"
                                 alt="">
                        </div>
                        <div>
                            <p>Diogo</p>
                            <p>11 Jan 2022 || 5 min read</p>
                        </div>
                    </div>
                </div>
                <! -- Cartão 2 -->
                <div class="cartao-2">
                    <img width="370px" height="260px" src="{% static 'images/bem-estar.jpg' %}" alt="">
                    <div class="texto">
                        <p>Bem-Estar e Mindfulness</p>
                    </div>
                    <div class="info">
                        <h3>5 Benefícios Surpreendentes da Yoga Matinal para o seu Dia</h3>
                        <p>Explore como iniciar seu dia com uma sessão de yoga pode melhorar sua saúde mental e
                            física, aumentar sua energia e melhorar a concentração.</p>
                    </div>
                    <div class="perfil">
                        <div>
                            <img width="50px" src="{% static 'images/account_circle_FILL1_wght400_GRAD0_opsz48.png' %}"
                                 alt="">
                        </div>
                        <div>
                            <p>Ana</p>
                            <p>11 Jan 2022 || 5 min read</p>
                        </div>
                    </div>
                </div>

                <div class="cartao-3">
                    <img width="370px" height="260px" src="{% static 'images/treino-personalizado.png' %}" alt="">
                    <div class="texto">
                        <p>Treinamento e Fitness</p>
                    </div>
                    <div class="info">
                        <h3>Treino Personalizado: Como Ele Pode Transformar Seu Fitness</h3>
                        <p>Descubra como um programa de treinamento personalizado, adaptado às suas necessidades
                            únicas, pode acelerar seus resultados e manter você motivado.</p>
                    </div>
                    <div class="perfil">
                        <div>
                            <img width="50px" src="{% static 'images/account_circle_FILL1_wght400_GRAD0_opsz48.png' %}"
                                 alt="">
                        </div>
                        <div>
                            <p>Cátia</p>
                            <p>11 Jan 2022 || 5 min read</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="botao-conteudo-2">
                <button>View All</button>
            </div>
        </div>
    </section>
    {% endblock %}

    <! -- Diferencial "Serviços e Recursos da PT Clinic" -->
    <section id="diferencial">
        <div class="header-titulo">
            <div>
                <h1>Descubra o Diferencial da PT Clinic</h1>
            </div>
            <div class="text">
                <p>Explore a variedade de serviços e recursos exclusivos que tornam a PT Clinic o lugar ideal para sua
                    jornada de bem-estar e fitness.</p>
            </div>

        </div>
        <div class="cartoes-3">
            <div class="content-3">
                <! -- Cartão 1 -->
                <div class="cartao-1">
                    <img width="370px" height="260px" src="{% static 'images/zumba-danca.jpg' %}" alt="">
                    <div class="texto">
                        <h3>Avaliação e Acompanhamento de Fitness</h3>
                    </div>
                    <div class="info">
                        <p>Avaliações regulares de fitness para monitorar seu progresso e ajustar seus planos de
                            treinamento para resultados ótimos.</p>
                    </div>
                    <div class="icon-right">
                        <div>
                            <p>Saber mais</p>
                        </div>
                        <div>
                            <img src="{% static 'images/chevron_right_FILL1_wght400_GRAD0_opsz24.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <! -- Cartão 2 -->
                <div class="cartao-2">
                    <img width="370px" height="260px" src="{% static 'images/zumba-danca.jpg' %}" alt="">
                    <div class="texto">
                        <h3>Variedade de Aulas de Grupo</h3>
                    </div>
                    <div class="info">
                        <p>Uma ampla gama de aulas de grupo para todos os níveis e preferências, desde yoga e
                            pilates até cardio de alta intensidade.</p>
                    </div>
                    <div class="icon-right">
                        <div>
                            <p>Saber mais</p>
                        </div>
                        <div>
                            <img src="{% static 'images/chevron_right_FILL1_wght400_GRAD0_opsz24.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <! -- Cartão 3 -->
                <div class="cartao-3">
                    <img width="370px" height="260px" src="{% static 'images/recuperacao.png' %}" alt="">
                    <div class="texto">
                        <h3>Programas de Recuperação e Reabilitação</h3>
                    </div>
                    <div class="info">
                        <p>Serviços especializados em recuperação e reabilitação para ajudá-lo a se recuperar de
                            lesões e voltar ao seu melhor.</p>
                    </div>
                    <div class="icon-right">
                        <div>
                            <p>Saber mais</p>
                        </div>
                        <div>
                            <img src="{% static 'images/chevron_right_FILL1_wght400_GRAD0_opsz24.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% block jornada %}

    <! -- Histórias de Sucesso dos Nossos Clientes da PT Clinic -->
    <section id="jornada">
        <div class="header-titulo">
            <h1>Histórias de Sucesso dos Nossos Clientes</h1>
            <p>Veja o que nossos membros têm a dizer sobre sua jornada na PT Clinic.</p>
        </div>
        <div class="cartoes-4">
            <! -- Cartão 1 -->
            <div class="cartao-1">
                <img width="120px" src="{% static 'images/fitness-pt.png' %}" alt="">
                <h3>Participar das aulas na PT Clinic foi uma das melhores decisões que já tomei. A variedade e
                    qualidade das aulas são excepcionais. Além disso, as dicas de nutrição e os programas de
                    treinamento personalizado realmente me ajudaram a atingir meus objetivos de fitness de
                    maneira sustentável.</h3>
                <div class="perfil">
                    <img src="{% static 'images/account_circle_FILL1_wght400_GRAD0_opsz48.png' %}" alt="">
                    <p>Carlos Souza</p>
                    <p>Membro, PT Clinic desde 2020</p>
                </div>
            </div>
            <! -- Cartão 2 -->
            <div class="cartao-2">
                <img width="120px" src="{% static 'images/fitness-pt.png' %}" alt="">
                <h3>Desde que me juntei à PT Clinic, notei uma transformação incrível na minha saúde e
                    bem-estar. Cada aula é uma nova descoberta e os instrutores são incrivelmente apoiantes. Não
                    apenas melhorei minha forma física, mas também ganhei uma nova comunidade de amigos.</h3>
                <div class="perfil">
                    <img src="{% static 'images/account_circle_FILL1_wght400_GRAD0_opsz48.png' %}" alt="">
                    <p>Joana Martins</p>
                    <p>Membro, PT Clinic desde 2020</p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

    {% block  contacto%}
    <section id="contacto">
        <div class="form">
            <h1>Entre em contacto connosco</h1>
            <p>Preencha este formulário com suas informações para um breve contacto.</p>

            <div class="form-content">

                <form action="{% url 'area_cliente' %}" method="post" class="form-1">
                    <div class="input-nome">
                        <span class="name"> Nome</span>
                        <div>
                            <label>
                                <input type="text" name="nome" class="input-nome-2" required>
                            </label>
                        </div>
                    </div>

                    <div class="input-email">
                        <span class="email">Email</span>
                        <div>
                            <label>
                                <input type="email" name="email" class="input-email-2" required>
                            </label>
                        </div>
                    </div>

                    <div class="input-mensagem">
                        <span class="message">Mensagem</span>
                        <div>
                            <!-- Substituição do span e input por textarea -->
                            <label>
<textarea name="mensagem" class="input-menagem-2" required
          placeholder="Escreve a sua mensagem..."></textarea>
                            </label>
                        </div>
                    </div>

                    <div class="checkbox">
                        <div>
                            <!-- Correção para incluir o input de checkbox de forma explícita -->
                            <input type="checkbox" name="termos" id="termos" class="checkbox-1" required>
                        </div>
                        <div>
                            <label for="termos" class="label">
                                <span class="aceito-os-termos">Aceito os </span><span class="termos">Termos</span>
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="button-sub">
                        <span class="button-32">Submeter</span>
                    </button>
                </form>


                <div class="contactos-informacoes">
                    <div class="contacto-1">

                        <div class="email-contact">
                            <div class="icon-email">
                                <img src="{% static 'images/mail_FILL1_wght400_GRAD0_opsz24.png' %}" alt="">
                            </div>
                            <div class="info-email">
                                <span>Email</span>
                                <span>Envie-nos suas dúvidas, comentários ou sugestões.</span>
                                <a href="mailto:contato@ptclinic.com" class="link-email">contato@ptclinic.com</a>
                            </div>
                        </div>
                        <div class="phone-contact">
                            <div class="icon-phone">
                                <img src="{% static 'images/call_FILL1_wght400_GRAD0_opsz24.png' %}" alt="">
                            </div>
                            <div class="info-phone">
                                <span>Phone</span>
                                <span>Fale conosco para mais informações ou agendamentos.</span>
                                <a href="tel:+351210000000">+351 21 000 0000</a>
                            </div>
                        </div>

                        <div class="visitar">
                            <div class="visitar-ginasio">
                                <a href="https://www.google.com/maps/dir/?api=1&destination=rua das flores 22, 2855-1999">
                                    <span>Visite nossa recepção para um atendimento personalizado.</span>
                                </a>
                            </div>
                            <div class="icon-right">
                                <img width="30px"
                                     src="{% static 'images/chevron_right_FILL1_wght400_GRAD0_opsz24.png' %}" alt="">
                            </div>
                        </div>
                    </div>


                    <div class="contacto-2">
                        <div class="office-contact">
                            <div class="icon-office">
                                <img src="{% static 'images/location_on_FILL1_wght400_GRAD0_opsz24.png' %}" alt="">
                            </div>
                            <div class="info-office">
                                <span class="heading-42">Office</span>
                                <span class="text-43">Endereço: Rua Exemplo, 123, Bairro, Cidade</span>
                            </div>
                        </div>


                        <div class="whatsapp-contact">
                            <div class="icon-whatsapp">
                                <img src="{% static 'images/Whatsapp_icon-icons.com_66931.png' %}" alt="">
                            </div>
                            <div class="info-whatsapp">
                                <span>WhatsApp</span>
                                <a href="https://wa.me/351934499614"><span>+351 934 499 614</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

{% endblock %}

