:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}
body {
    margin: 0;
    width: 100%;
}

.navbar {
    background: #19d1c3;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
}

/* Alinhar os 4 botões entre si */
.navbar .left {
    margin-left: 2em;
}

.navbar .right {
    display: flex;
    align-items: center;
    gap: 2em;
}

.navbar .right a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.navbar .right a:hover {
    color: white;
}

.navbar .right .link-dropdown {
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.navbar .right button {
    font-size: 16px;
    padding: 8px;
    background-color: #19d1c3;
    cursor: pointer;
}

.navbar .right button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


#cadastro {
    position: relative;
    width: 1286px;
    height: 640px;
    margin: 0 0 0 64px;
}

/*
#cadastro .cadastro-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 24px;
    width: 560px;
    margin-top: 7.8em;
    padding: 48px 71px 48px 48px;
    border: 1px solid #19d1c3;
}
*/
#cadastro .cadastro-content {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-top: 7.8em;
    border: 1px solid #19d1c3;
}


#cadastro .cadastro-content .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 2px;
    min-width: 0;
     padding: 48px 71px 48px 48px;
}

.text-content h1 {
    width: 511px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    text-align: left;
}

.text-content h4 {
    width: 511px;
    margin-top: 0;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

.text-content .input-email {
    display: flex;
    gap: 1em;
}

.cadastrar-input label input {
    padding: 12px 12px 12px 12px;
    border: 1px solid #000000;
    font-size: 16px;
    width: 350px;
}

.cadastrar-button button {
    padding: 12px 24px 12px 24px;
    cursor: pointer;
    background: #000000;
    border: 1px solid #000000;
    color: white;
    font-size: 16px;
    width: 150px;
}

.cadastrar-button button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


.text-content .text {
    margin-top: 1em;
    font-family: Roboto, var(--default-font-family);
    font-size: 12px;
}

#cadastro .text-content .image {

    width: 651px;
    height: 640px;
    top: 0;
    left: 630px;
    background-size: cover;
    background-color: #00B0E8;
}

/* Serviços da PT Clinic" */

#services .services-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#services .services-content .title-content {
    display: flex;
    align-items: center;
    width: 60%;
}

#services .services-content .title-content h1 {
    font-size: 48px;
}


#services .services-content .content-1 {
    display: flex;
    gap: 2em;
}

#services .services-content .card-1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
}

#services .services-content .card-2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
}

#services .services-content .card-3 {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
}

#services .services-content .card-4 {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
}

.more-info {
    display: flex;
    justify-content: center;
}


/* Footer PT Clinic" */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 64px;
    position: relative;
    width: 100%;
    /* margin: 663px 0 0 0; */
    padding: 80px 64px 80px 64px;
    /* background: #fefefe; */
    /* z-index: 19; */
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 32px;
    position: relative;
    width: 405px;
    z-index: 20;
}


.links {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 32px;
    position: relative;
    width: 405px;
    z-index: 22;
}

.home-link {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 23;
}

.blog-link {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 24;
}

.contacts-link {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 25;
}

.services {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 26;
}

.link-five {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 27;
}

.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 32px;
    position: relative;
    min-width: 0;
    z-index: 28;
}

.divider {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    height: 1px;
    background: #000000;
    z-index: 29;
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    z-index: 30;
}

.text-copyright {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 31;
}

.footer-links {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    width: 345px;
    z-index: 32;
}

.privacy-policy {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 33;
}

.terms-of-service {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 34;
}

.cookies-settings {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 35;
}


/* Contactos da PT Clinic" */

#contacto .form {
    display: flex;
    flex-direction: column;
    padding: 64px;
}

#contacto .form h1 {
    font-size: 48px;
}

#contacto .form p {
    font-size: 18px;
}

#contacto .form .form-content {
    display: flex;
    gap: 4em;

}

#contacto .form .form-content .form-1 {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 24px;

}

#contacto .form .form-content .form-1 input {
    width: 96%;
    padding: 10px;
    border-width: 3px;
}

#contacto .form .form-content .form-1 textarea {
    width: 96%;
    height: 20vh;
    padding: 10px;
    border-width: 3px;
    margin: 0;
}

#contacto .form .form-content .form-1 .checkbox {
    display: flex;
    gap: 1em;
}

#contacto .form .form-content .form-1 .checkbox .checkbox-1 {
    transform: scale(1.7);
}

#contacto .form .form-content .form-1 .checkbox .label {
    line-height: 0.8em; /* Ajusta a altura da linha para centralizar com a checkbox */
    cursor: pointer;
}

#contacto .form .form-content .form-1 .checkbox .label:hover {
    text-decoration: underline;
}

#contacto .form .form-content .form-1 .button-sub {
    width: 20%;

}

#contacto .form .form-content .form-1 button {
    font-size: 15px;
    color: white;
    padding: 15px 15px;
    background-color: black;
}


#contacto .form .form-content .contactos-informacoes {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

#contacto .form .form-content .contactos-informacoes .email-contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes .email-contact .info-email {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes a {
    text-decoration-color: black;
    color: black;
}

#contacto .form .form-content .contactos-informacoes .phone-contact {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes .phone-contact .info-phone {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes .phone-contact {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes .phone-contact .info-phone {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes .office-contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes .office-contact .info-office {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes .whatsapp-contact {
    margin-top: 3.2em;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5em;
}

#contacto .form .form-content .contactos-informacoes .whatsapp-contact .info-whatsapp {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#contacto .visitar {
    width: 100%;
    margin-top: 50px;
    display: flex;
    font-size: 14px;
    align-items: center;
}

#contacto .visitar .visitar-ginasio a {
    text-decoration: none;
}


.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }

  .whatsapp-link {
    display: inline-block;
    background-color: #25D366;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  }

  .whatsapp-link img {
    width: 50px;
    height: auto;
  }

